<h4><%= @question.content %></h4>

<%= link_to 'Upvote', :vote => 1 %>
<%= link_to 'Downvote', :vote => -1 %>

<%= @question.get_likes.size - @question.get_dislikes.size %>


<% if current_user %>
  <%= form_for [@question, Response.new] do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.submit "Submit"%>
  <% end %>
<% end %>
<hr>
<% @question.responses.each do |r| %>
  <li><%=  r.content %>--<%=  r.user.name %></li>
  <%= link_to 'Upvote', :response_vote => 1, :response => r.id %>
  <%= link_to 'Downvote', :response_vote => -1, :response => r.id %>
  <%= r.get_likes.size - r.get_dislikes.size %>
<% end %>
